#one{
    background: blue;
    color: white;
}
.two{
    background: red;
    color: yellow;
}

#bag{
    background-color:aquamarine;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px 0 20px;
}

#list{
    padding: 5px 30px 5px 30px;
    border-radius: 5px;

}